<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%- title %> </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="header">
        <span class="title">
          Votifoto
        </span>
        <button onclick="window.location.href='/'" class="button-head" id="btnMain">
            Menu
        </button>
      </div>

      <% if (typeof alert != "undefined") { %>
        <div class="alertMessage">
            <span class="alertText">
            <%- alert %>
            </span>
        </div>
      <% } %>

        <div class="page-body">

        <form action="/users/changePassword" method="post" class="verticalImage" style="width: 30%">
            <div class="betweeneur">
                <label>Ancien mot de passe : </label>
                <input type="text" name="oldPass" placeholder="Ancien mot de passe" required>
            </div>
            <div class="betweeneur">
                <label>Nouveau mot de passe : </label>
                <input type="password" name="newPass" placeholder="Nouveau mot de passe" required>
            </div>
            <div class="betweeneur">
                <label>Confirmer nouveau mot de passe : </label>
                <input type="password" name="newPassConf" placeholder="Nouveau mot de passe" required>
            </div>
            <div class="betweeneur">
                <input type="submit" value="Enregistrer" class="button-3">
            </div>
        </form>
        <br>
        <button onclick="window.location.href='/users/signup'" class="button-3">
            Créer un compte
        </button>
    </div>
</body>
</html>