<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se connecter</title>
</head>
<body>
    <form action="http://localhost:3000/login/authenticate" method="post">
        <label>Nom d'utilisateur : </label>
        <input type="text" name="username" placeholder="votre nom d'utilisateur">
        <br><br>
        <label>Mot de passe : </label>
        <input type="password" name="password" placeholder="votre mot de passe">
        <br><br>
        <input type="submit" value="Changer le mot de passe">
    </form>
    <br>
    <a href="http://localhost:3000/signup">créer un compte</a>
</body>
</html>