<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%- title %> </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="header">
        <span class="title">
          Votifoto
        </span>
        <button onclick="window.location.href='/'" class="button-head" id="btnMain">
            Menu
        </button>
    </div>

      <% if (typeof alert != "undefined") { %>
        <div class="alertMessage">
            <span class="alertText">
            <%- alert %>
            </span>
        </div>
      <% } %>

    <div class="page-body">

    <form action="/search" method="post" class="verticalImage" style="width: 30%">
        <div class="betweeneur">
            <label>Nom d'utilisateur : </label>
            <input type="text" name="username" placeholder="votre nom d'utilisateur" required>
        </div>
        <div class="betweeneur">
            <label>Mot de passe : </label>
            <input type="password" name="password" placeholder="votre mot de passe" required>
        </div>
        <div class="betweeneur">
            <label>Entrez de nouveau votre mot de passe : </label>
            <input type="password" name="vpassword" placeholder="répétez mot de passe" required>
        </div>
            <input type="submit" value="Créer son compte" class="button-3">
    </form>
    <br>

    <button onclick="window.location.href='/login'" class="button-3">
        Se connecter
    </button>

    </div>
</body>
</html>