@media screen and (min-width:1080px){

}

.class-id{
  display:flex;
  }

  body {
    font-family: "Tahoma";
    background-color: #0e0c0f;
    margin: 0px;
    color: #fbf6f6;
  }
  
  #header {
    width: 100%;
    position: sticky;
    top: 0px;
    height: 5em;
    background-color: #3d1d5a;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-body {
    margin: 3em;
  }

  .title {
    font-size: 3em;
  }

  .imgSize {
    max-width: 200px;
    max-height: 200px;
  }

  .verticalImage {
    display: flex;
    flex-direction: column;
  }

  .horizonImage {
    display: flex;
    flex-direction: row;
  }

  .button-3 {
  appearance: none;
  background-color: #31164b;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #502579;
}

.button-3:focus {
  box-shadow: rgba(33, 17, 54, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #150718;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #71298e;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.halfdiv {
  width: 50%;
}

.centreur {
  display: flex;
  align-items: center;
  justify-content: center;
}

.betweeneur {
  display: flex; 
  justify-content: space-between;
}
  
