@media screen and (min-width:1080px){

}

.class-id{
  display:flex;
  }

  body {
    font-family: "Tahoma";
    background-color: #0e0c0f;
    margin: 0px;
    color: #fbf6f6;
  }
  


  #header {
    width: 100%;
    position: sticky;
    top: 0px;
    height: 5em;
    background-color: #3d1d5a;
  }

  .page-body {
    margin: 3em;
  }

  .title {
    text-align: center;
  }
  
