@media screen and (min-width:1080px){

}

.class-id{
  display:flex;
  }

  body {
    font-family: "Tahoma";
    background-color: #0e0c0f;
    margin: 0px;
    color: #fbf6f6;
  }
  


  #header {
    width: 100%;
    position: sticky;
    top: 0px;
    height: 5em;
    background-color: #3d1d5a;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-body {
    margin: 3em;
  }

  .title {
    font-size: 3em;
  }

  .imgSize {
    max-width: 200px;
    max-height: 200px;
  }

  .verticalImage {
    display: flex;
    flex-direction: column;
  }

  .horizonImage {
    display: flex;
    flex-direction: row;
  }
  
